extends ../_layout.pug
block variables
  - _staff = data['staff'];
  - title = "工作人員"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  .container.my-20
    h1.border-b.border-neutral-500.pb-3 工作人員
  .container.my-20
    each staff, key in _staff
      if key == '宣傳'
        .mb-12
          h3.mb-4= key
          each team, key in staff
            if key == 'main'
              .mb-8= team[0]
            else
              h5.mb-4= key
              .grid.grid-cols-5.mb-8
                each person in team
                  .mb-4= person
      else
        h3.mb-4= key
        .grid.grid-cols-5.mb-12
          each person in staff
            .mb-4= person