//- view
extends /view/default/base.pug
block vars
  -
    var isViewer = (perms || []).filter(function(p) {
      var cfg = p.config || {};
      return cfg.viewer || cfg["viewer.prj"];
    }).length;
    var root = "/template/2024";
    var meta = {
      title: "提案列表 | g0v Summit 2024"
    };
block head
  script(async src='https://www.googletagmanager.com/gtag/js?id=G-3V52RYWJVJ')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3V52RYWJVJ');

  +css([
    {url: `${root}/assets/css/base.css`},
    {url: "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"}
  ])
  style(type="text/css"): include:stylus index.styl
  +script([
    {url: "https://s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-64923.js"}
  ])
block body
  .hero.pb-5
    .container-sm.py-5.text-brown
      .p-4.bg-white.rounded-lg.shadow-lg
        .d-flex.g-4.flex-wrap.flex-md-nowrap
          .text-right
            img.mb-1(src=`${root}/assets/img/pgln_g0v_summit.png`,width="192")
            h1.twroadfont(pd="t") 線上投稿頁面
          div
            div(pd="t") 台灣零時政府社群主辦的大型國際會議
            hr
            .d-flex.g-2
              if stage.config["prj-new"]
                a.btn.btn-success.d-flex.align-items-center.g-2(pd="auth-required", href=`/brd/${brd.slug}/apply`)
                  span(pd="t") 建立提案
                  i.bi.bi-box-arrow-up-right
              else
                .btn.btn-outline-secondary.disabled(pd="t") 非開放提案期間
              a.btn.btn-outline-dark(pd="t auth-required", href=`/me/projects`) 我的提案
              if perms.judge
                a.btn.btn-outline-dark(pd="t auth-required", href=`/judge/`) 評審頁面
              .flex-grow-1
              if perms.admin || perms.owner
                a.btn.btn-outline-dark.d-none(pd="t authed-only", href=`/brd/${brd.slug}/admin`) 主控台

  .container-sm.pb-5.text-brown
    h0.pb-4.twroadfont.d-block(style="margin-top:-.9em",pd="t") 提案清單
    if !(prjs && prjs.length)
      .mb-4(pd="t") 目前沒有可供瀏覽的提案
    else
      each prj in prjs.splice(0,10)
        .mb-5.ml-0
          if stage.config["prj-view"] || isViewer
            a(href=`/prj/${prj.slug}`,style="font-size:1.25em")= prj.name
          else
            .text-brown(style="font-size:1.25em")= prj.name
          p.text-sm= (prj.description || '').substring(0,50) + ((prj.description || '').length > 50 ? '...' : '')

      a(href=`/brd/${brd.slug}/list`) #[span(pd="t") 更多提案] #[+i.i-chevron-right]

  .container-sm.py-4.mt-4.border-top.d-flex.justify-content-between
    div
      a.mr-3(pd="t",href="/privacy/") 隱私權政策
      a(pd="t",href="/tos/") 使用者條款
    .text-sm.text-muted.d-flex.align-items-center
      img.mr-1(src="/assets/img/c/logo/logo.png",style="height:1em;margin-top:2px")
      span POWER BY GRANTDASH
block script
  script(type="module"): include:lsc /view/default/brd/index.ls
  script(type="module"): :lsc
    main_desc=
      en: 'g0v Summit is a biennial gathering in Taiwan that focuses on civic hacking, open government, open-source collaboration, and citizen participation. It is a major international event in the open government community and attracted speakers from up to 33 countries in the last four editions, with nearly a thousand of attendees each time. <br>In 2022, the g0v Summit was cancelled due to the pandemic. However, the wait is over. In the coming year, g0v Summit 2024 will rekindle your passion for civic activism!'
      zh: 'g0v Summit 是由 g0v 台灣零時政府社群主辦的大型國際會議，慣例為 2 年一次。<br>受到疫情影響，2022 年停辦。明年，Summit 2024 將喚醒你體內的熱血公民魂。'

    ldc.register \pagecfg, <[]> -> locales: {en: {"台灣零時政府社群主辦的大型國際會議": main_desc.en}, "zh-TW": {"台灣零時政府社群主辦的大型國際會議": main_desc.zh}}
    ldc.register \pagecfg, <[]> -> locales: {en: {"線上投稿頁面": "Submission"}, "zh-TW": {"線上投稿頁面": "線上投稿頁面"}}
    ldc.register \pagecfg, <[]> -> locales: {en: {"我的提案": "My Proposals"}, "zh-TW": {"我的提案": "我的提案"}}
    ldc.register \pagecfg, <[]> -> locales: {en: {"提案清單": "Proposal List"}, "zh-TW": {"提案清單": "提案清單"}}
    ldc.register \pagecfg, <[]> -> locales: {en: {"更多提案": "More Proposals"}, "zh-TW": {"更多提案": "更多提案"}}