//- view
extends /view/default/base.pug
block vars
  -
    var isViewer = (perms || []).filter(function(p) {
      var cfg = p.config || {};
      return cfg.viewer || cfg["viewer.prj"];
    }).length;
block body
  .container-sm.py-5
    a.text-muted.text-nodeco(href=`/org/${org.slug}`) #{org.name} #[span(pd="t") 徵件平台]
    h2.mb-4= brd.name
    .textmuted.mt-2.mb-4= ldui.ellipsis(brd.description, 200)

    .d-flex.g-2
      if stage.config["prj-new"]
        a.btn.btn-success(pd="t",href=`/brd/${brd.slug}/apply`) 建立提案
      else
        .btn.btn-outline-secondary.disabled(pd="t") 非開放提案期間
      a.btn.btn-outline-dark(pd="t",href=`/me/projects`) 我的提案
      if (perms || []).judge
        a.btn.btn-outline-dark(pd="t",href=`/judge`) 評審頁面
      .flex-grow-1
      if (perms || []).admin || (perms || []).owner
        a.btn.btn-outline-dark(pd="t",href=`/brd/${brd.slug}/admin`) 主控台
    hr
    .text-underline.pb-4(pd="t") 提案清單
    if !(prjs && prjs.length)
      .mb-4.text-muted(pd="t") 目前沒有可供瀏覽的提案
    each prj in prjs
      .mb-5.ml-0
        +i.i-caret-right.position-absolute(style="font-size:.75em;margin-left:-1.25em;margin-top:.5em")
        if stage.config["prj-view"] || isViewer
          a(href=`/prj/${prj.slug}`,style="font-size:1.25em")= prj.name
        else
          div(style="font-size:1.25em")= prj.name
        p.text-muted.text-sm= (prj.description || '').substring(0,50) + ((prj.description || '').length > 50 ? '...' : '')
  .container-sm.py-4.mt-4.border-top.d-flex.justify-content-between
    div
      a.mr-3(pd="t",href="/privacy/") 隱私權政策
      a(pd="t",href="/tos/") 使用者條款
    .text-sm.text-muted.d-flex.align-items-center
      img.mr-1(src="/assets/img/c/logo/logo.png",style="height:1em")
      span POWER BY GRANTDASH
block script
  script(type="module"): include:lsc /view/default/brd/index.ls
