block variables
doctype
html(lang="zh-Hant-TW")
  head
    title #{title} | g0v Summit 2024 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property='og:description', content='g0v Summit 是由 g0v 零時政府主辦的大型國際會議，慣例為 2 年一次。受到疫情影響，2022 年停辦，明年，Summit 2024 將喚醒你體內的熱血公民魂。')
    meta(property='og:image', content="assets/img/pgln_g0v.png")

    script(async src='https://www.googletagmanager.com/gtag/js?id=G-3V52RYWJVJ')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-3V52RYWJVJ');

    base(href=base)
    link(rel='icon', type='image/png', href='assets/img/pgln_and_wood.png')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto+Mono&display=swap', rel='stylesheet')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css", integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e", crossorigin="anonymous")
    script(src='//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-64923.js')
    link(rel='stylesheet', href='assets/css/base.css?version='+timestamp)
    block head
  body
    #loading.hidden
      img(src="assets/img/", alt="")
    header.container.flex.flex-wrap.items-center.py-4
      a(href=base): img.w-auto.h-12(src='assets/img/pgln_g0v_summit.png', alt='g0v Summit 2024')
      .flex(class="max-md:mt-4 md:ms-auto")
        a 投稿
        a.ms-4 講者
        a.ms-4 議程
        a.ms-4(href="visit") 交通
        a.ms-4(href="https://g0v.hackmd.io/@summit2024/book/", target="_blank") 共筆
        a.ms-4(href="https://www.youtube.com/@g0vTW", target="_blank") 直播
    block main
    footer.bg-slate-200: .container.py-20
      .grid.grid-cols-4
        div
          .mb-4.font-bold Summit 2024
          div 投稿
          div 議程
          div 交通
          div 共筆
          div 直播
        div
          .mb-4.font-bold 媒體素材
          div: a(href="//g0v.hackmd.io/@SQLfOC1bRwKstcPS84Gu_w/H1aRf_W8a", target="_blank") Press Kit
          div 電子報
        div
          .mb-4.font-bold 關於 Summit
          div: a(href="staff") 籌備團隊
          div 合作夥伴
          div 行為準則
        div
          .mb-4.font-bold 歷年網頁
          div: a(href="//summit.g0v.tw/2014", target="_blank") 2014
          div: a(href="//summit.g0v.tw//2016", target="_blank") 2016
          div: a(href="//summit.g0v.tw//2018", target="_blank") 2018
          div: a(href="//summit.g0v.tw//2020", target="_blank") 2020
      .flex.flex-wrap.mt-16
        .me-8 Copyright CC by 4.0 @ g0v Summit 2024
        a(href="#") 網站問題反饋
        .ms-auto.flex
          a(href="//www.facebook.com/g0v.tw/", target="_blank"): img(src="assets/img/facebook.svg", alt="Facebook", class="me-3 h-6")
          a(href="//www.instagram.com/g0v.tw/", target="_blank"): img(src="assets/img/instagram.svg", alt="Instagram", class="me-3 h-6")
          a(href="//g0v.hackmd.io/@jothon/g0v-cowork-guideline/%2FPwJcrD23SBag6sg15epZMA", target="_blank"): img(src="assets/img/slack.svg", alt="Slack", class="me-3 h-6")
          a(href="//x.com/g0vtw/", target="_blank"): img(src="assets/img/twitter.svg", alt="Twitter", class="me-3 h-6")
          a(href="//github.com/g0v/", target="_blank"): img(src="assets/img/github.svg", alt="Github", class="me-3 h-6")
          a.hidden(href="", target="_blank"): img(src="assets/img/email.svg", alt="Email", class="h-6")
    
    #cookie-agree.fixed.bottom-0.w-full.bg-slate-100.flex.p-4.items-center.justify-center.hidden
      div
        | 本網站使用 cookies 於廣告、社群與分析等用途，藉以增進您的使用體驗，繼續使用本網站即代表您同意使用 cookies。
      a.btn.btn-primary.shrink-0.my-auto.ms-3(href="#") 同意
    script(src='https://code.jquery.com/jquery-3.7.0.min.js', integrity='sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=', crossorigin='anonymous')
    script.
      const storage = window.sessionStorage;
      /*
      if(!storage.getItem("userLang")) {
        var userLanguage = navigator.languages ? navigator.languages[0] : navigator.language || navigator.userLanguage;
        userLanguage = userLanguage.toLowerCase();
        console.log(userLanguage);
        if (userLanguage.includes('zh-hant') || userLanguage.includes('zh-tw') || userLanguage.includes('zh-hk') 
        || userLanguage.includes('zh-hans') || userLanguage.includes('zh-cn') || userLanguage.includes('zh')) {
          storage.setItem("userLang", "zh");
        } else {
          storage.setItem("userLang", "en");
          window.location.href="/2024/en";
        }
      } else if(storage.getItem("userLang") === 'en') {
        window.location.href="/2024/en";
      }*/

      $("#cookie-agree a.btn").on("click", function(e) {
        e.preventDefault();
        storage.setItem("agreeCookie", true);
        $("#cookie-agree").addClass("hidden");
      })

      $(function() {
        if(!storage.getItem("agreeCookie")) {
          $("#cookie-agree").removeClass("hidden");
        }
      })

      $(window).on("load", function(e) {
        $("body").css("overflow", "unset");
        $("#loading").fadeOut(500);
      })


    block script