extends _layout.pug
block variables
  - title = "CFP"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
  link(rel="stylesheet", href="assets/css/index.css?version="+timestamp)
block body
  #loading
    img(src="/assets/img/pgln.svg", alt="")
  .modal.fade#instructions(tabindex='-1')
    .modal-dialog.modal-dialog-scrollable.modal-xl
      .modal-content
        .modal-header
          h2.modal-title 投稿說明
          button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
        .modal-body.p-4
          include ./component/instructions.zh.pug
  .modal.fade#claiming(tabindex='-1')
    .modal-dialog.modal-dialog-scrollable.modal-xl
      .modal-content
        .modal-header
          h2.modal-title g0v Summit 2024 個人資料蒐集、處理及利用同意書
          button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
        .modal-body.p-4
          include ./component/claiming.zh.pug
  main
    a.btn.btn-outline-dark#lan(href="/en") 中/EN
    #top-block.w-100
      #cloud
        .twroadfont.text-block 革命不是請客吃飯，選舉不是投票凍蒜。
        .twroadfont.text-block 開放了！然後咧？儘早釋出。經常釋出。
        .twroadfont.text-block 開放了！然後咧？不做酸民當公民。
        .twroadfont.text-block 開放了！然後咧？坐而言不如起而行。
        .twroadfont.text-block 要填坑！來跳坑！要填坑！來跳坑！
        .twroadfont.text-block 是故資料無色。無受想行識，故知般若開放資料多，<br>是大源碼、是大明神、是無上咒、是無等等咒，能除一切bug，真實不需，
        .twroadfont.text-block 寫程式改造社會
        .twroadfont.text-block 不要問為什麼沒有人做這個先承認你就是沒有人
      .container.px-0.px-md-5.pt-md-4.position-relative
        #topbar.rounded-2.bg-white.p-3.w-100.row.align-items-center.gx-0
          .col-md-auto: img.ms-2(src="assets/img/pgln_g0v_summit.png", alt="", style="height: 3rem; width: auto;")
          #timer-cfp.mx-auto.w-max.ps-5 提案截止 2023 年 12 月 10 日 尚餘 <span>999</span> 天
          .col-md-auto.d-flex.align-items-center
            a.link.ms-auto(href="/about-cfp") 投稿說明
            //a.link.ms-4(href="#", data-bs-toggle="modal", data-bs-target="#claiming") 個資說明
            a.btn.btn-lg.btn-summit-green.ms-4.me-auto(href="//summit2024.g0v.tw/brd/2024/") 我要投稿<i class="ms-2 bi bi-box-arrow-up-right"></i>

        #main-text.text-end.text-light.mt-5.me-3
          h2.mb-1 summit 2024
          h5.mb-1 2024.05.04-5
          h5.mb-1 Taipei, Taiwan

        //#write-something.d-none.d-md-flex.flex-column
          h0.twroadfont.text-brown 寫點啥米 →
          .input-group
            input.form-control(type="text", placeholder="這個還沒好~歡迎提PR")
            a.btn.btn-light.py-3.px-3 <i class="bi bi-arrow-return-left"></i>

    #what-is-summit.my-5.pb-5: .container.px-md-5
      h0.twroadfont.text-brown.position-absolute(style="transform: translateY(-60%);") Summit 是啥米？
      .row.gx-0.gy-5.py-5.mb-5
        .col-md-7.d-flex.flex-column
          .content
            p g0v Summit 是由 g0v 台灣零時政府社群主辦的大型國際會議，慣例為 2 年一次。
            p 受到疫情影響，2022 年停辦。明年，Summit 2024 將喚醒你體內的熱血公民魂。
          .mt-auto.pt-5: a.text-brown(href="//g0v.hackmd.io/@summit2024/book/", target="_blank") 更多資訊 →

        .col.ms-auto.d-flex.flex-column
          #timer.mx-auto.me-md-0
            h5 Summit 2024<br>倒數
            span 999
            h5.text-end 天
          .mx-auto.me-md-0.mt-auto.pt-5: a.btn.btn-lg.btn-summit-green(href="//g0v.hackmd.io/@summit2024/book/https%3A%2F%2Fg0v.hackmd.io%2FdttYgGq1SmqCCp4ZntffZw", target="_blank"): h3.mb-0.fw-normal.p-1 我想一起籌備 Summit

    #what-is-g0v.my-5.pb-5: .container.px-md-5
      h0.twroadfont.text-brown.position-absolute(style="transform: translateY(-60%);") 啥米是 g0v？
      .row.gx-0.gy-5.py-5.mb-5
        .col-md-9.content.text-brown
          p 2012 年以來，公民黑客運動風起雲湧。以開放透明、公民參與為號召的 g0v 台灣零時政府社群在 2012 年底號召了第一場活動「第零次動員戡亂黑客松」，以「寫程式改造社會」為口號，從此公民黑客之火開始延燒，至今未歇。
          p 十二年間，在上萬位參與者集體的貢獻下，透過一場場黑客松，打造出多項以開放資料、開放政府為精神的資訊平台，以縮短數位落差為初衷，降低公民參與門檻，使得議題審議可立基在具體事實，也提升理性討論公共事務的意識。
          p 在這場開放資料、開放政府的運動中，g0v 社群也開創出台灣公民社會與政府互動的新模式。
          .mt-5: a.text-brown(href="//g0v.tw", target="_blank") 更多資訊 →
        .col.d-flex
          img.mx-auto.me-md-0.mt-auto(src="assets/img/zero-jump.svg", alt="", style="width: 10rem;")
    #summit-topics.my-5.pb-5: .container.px-md-5
      h0.twroadfont.text-brown.position-absolute(style="transform: translateY(-60%);") Summit 2024 主題有啥米？
      .row.gx-0.gy-5.py-5.mb-5
        .col-md-9.content.text-brown.twroadfont
          ol.mb-0
            li Nerd Politics vs. 數位治理
            li 資料、人工智慧與社群協作
            li 草根、開放、多中心的公民社群如何回應政治與科技的極權
            li 基於同理心、涵容、多元性的數位基礎建設
            li 技術與議題的交鋒
        .col.d-flex
          .mx-auto.me-md-0.mt-auto.pt-5: a.btn.btn-lg.btn-summit-green(href="//summit2024.g0v.tw/brd/2024/"): h3.mb-0.fw-normal.p-1 我要投稿<i class="ms-2 bi bi-box-arrow-up-right"></i>
      .row 
        .col-md-9
          p.text-brown eID / 個人資料保護 / AI 科技規範 / 數位平台規管 / 數位性暴力 / 數位主權 / 開放政府 / 大數據(資料治理) / 群眾外包 / 地圖資料 / 開放課程 / 社群治理 / 數位韌性 / 公民倡議 / 數位民防 / 開源精神 / 網路禮儀Netiquette / CoC / 數位兩極化 / 數位DEI（多元共融）/ 數位素養 / SDGs / 社會企業 / 數位轉型 / 創新創業 / 教育 / 非營利組織 ......

    #footer
      .text-center.py-4 g0v Summit 2024

    .modal.fade#cookie-policy(tabindex='-1')
      .modal-dialog.modal-dialog-scrollable.modal-xl
        .modal-content
          .modal-header
            h2.modal-title cookie 聲明
            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
          .modal-body.p-4
            include ./component/cookie.zh.pug 
    #cookie-agree.p-2.d-none
      | 本網站使用 cookies 於廣告、社群與分析等用途，藉以增進您的使用體驗，繼續使用本網站即代表您同意使用 cookies，請參閱我們的 
      a(href="#", data-bs-toggle="modal", data-bs-target="#cookie-policy") cookie 聲明
      |  以獲得更多資訊。
      a.btn.btn-summit-green.btn-sm(href="#") 同意

block script
  script.
    const storage = window.sessionStorage;
    if(!storage.getItem("userLang")) {
      var userLanguage = navigator.languages ? navigator.languages[0] : navigator.language || navigator.userLanguage;
      userLanguage = userLanguage.toLowerCase();
      console.log(userLanguage);
      storage.setItem("userLang", userLanguage);
      if (userLanguage.includes('zh-hant') || userLanguage.includes('zh-tw') || userLanguage.includes('zh-hk') 
      || userLanguage.includes('zh-hans') || userLanguage.includes('zh-cn') || userLanguage.includes('zh')) {
      } else {
          window.location.href="/en";
      }
    }

    let vw = $(window).width();
    let vh = $(window).height();
    const speed = 3;
    function randomInt(max) {
      return Math.floor(Math.random() * max);
    }

    function bounceMoving(el) {
      bounce = $(el).data('bounce');
      let nextX = bounce.x + bounce.dx*speed;
      let nextY = bounce.y + bounce.dy*speed;

      bounce.x = nextX;
      bounce.y = nextY;
      if (nextX < 0 || nextX > vw) {
        bounce.dx *= -1;
      }
      if (nextY < 0 || nextY > vh) {
        bounce.dy *= -1;
      }

      $(el).css({
        "left": `${nextX}px`,
        "top": `${nextY}px`,
      }).data({bounce: bounce})

      setTimeout(() => bounceMoving(el), 20);
    }

    $("#cookie-agree a.btn").on("click", function(e) {
      e.preventDefault();
      storage.setItem("agreeCookie", true);
      $("#cookie-agree").addClass("d-none");
    })

    $(function() {
      vw = $(window).width();
      vh = $(window).height();
      const a = new Date();
      const b = new Date(2024, 4, 4, 0, 0, 0, 0);
      const c = new Date(2023, 11, 10, 0, 0, 0, 0);
      const delta = Math.ceil((b-a)/(24*60*60*1000));
      const delta_cfp = Math.ceil((c-a)/(24*60*60*1000));
      $("#timer span").text(delta);
      $("#timer-cfp span").text(delta_cfp);

      $("#cloud .text-block").each(function (index, el) {
        let x = randomInt(vw);
        let y = randomInt(vh);
        $(el).css({
          "display": "block",
          "font-size": `${1.5+randomInt(3)}rem`,
          "left": `${x}px`,
          "top": `${y}px`,
        }).data({bounce: {
          x: x,
          y: y,
          dx: Math.random() < 0.5 ? 1 : -1,
          dy: Math.random() < 0.5 ? 1 : -1
        }});
        bounceMoving(el);
      });

      if(!storage.getItem("agreeCookie")) {
        $("#cookie-agree").removeClass("d-none");
      }

      $(window).on("load", function(e) {
        $("body").css("overflow", "unset");
        $("#loading").fadeOut(500);
      }).on("resize", function(e) {
        vw = $(window).width();
        vh = $(window).height();
      })
    })